// $light-accent: #b8d6ee;
// $accent: #99c7ee;
//$primary: #261C2C;
//$primary2: #3E2C41;
// $accent-dim: #7793a8;
$light-accent: #b8d6ee;
$accent: #FFD369;
$primary: #222831;
$primary2: #393E46;
$accent-dim: #dfb045;
$transition: 0.6s;

@font-face {
    font-family: segment;
    src: url(./custom-font.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    overflow: overlay;
    font-family: 'Montserrat', sans-serif;
    color: $light-accent;
    background-size: cover;
    background-image: linear-gradient(to left top, #261C2C, rgb(10, 40, 59));
    min-height: 100vh;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
button {
    font-family: inherit;
    border: none;
}

.app {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .page-selection{
        width: 30rem;
        height: 4rem;
        background-color: #324452;
        border-radius:10px;
        margin-bottom: 3rem;
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        h3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2rem;
            color: $light-accent;
            user-select: none;
            z-index: 1;
        }
        div {
            position: absolute;
            width: 14.4rem;
            height: 3.4rem;
            top: 0.3rem;
            left: 0.3rem;
            border-radius: 8px;
            transition-duration: $transition;
            transition-timing-function: ease-in-out;
            background-color:rgba(0, 0, 0, 0.3);
        }
        div.page0 {
            left: 0.3rem;
        }
        div.page1 {
            left: 15.3rem;
        }
    }
    .clock-container {
        background-color: $accent;
        box-shadow: 0 0 4rem rgba(0, 0, 0, 0.6);
        border-radius: 16px;
        margin-bottom: 4rem;
        transition-duration: $transition/2;
        transition-delay: 0;
        transition-timing-function: ease-in-out;
        opacity: 0;
        //transform: translateX(100vh);
        &.active {
            transition-delay: $transition/2;
            opacity: 1;
            //transform: translateX(0vh);
        }
        h3 {
            font-size: 2rem;
            color: $primary;
            padding: 0.5rem 1rem;
        }
    }
    .alarm__container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        transition-duration: $transition/2;
        transition-delay: 0;
        transition-timing-function: ease-in-out;
        opacity: 0;
        //transform: translateX(100vh);
        &.active {
            transition-delay: $transition/2;
            opacity: 1;
            //transform: translateX(0vh);
        }
    }
}

.status {
    position: absolute;
    top: 35rem;
    font-size:48px;
    transition-duration: $transition/2;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
    //transform: translateX(-100vh);
    opacity: 0;
    &.active {
        transition-delay: $transition/2;
        //transform: translateX(0vh);
        opacity: 1;
    }
}

.clock {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 600px;
    padding: 3rem 8rem;
    border-radius: 15px;
    background-color: $primary;
    position: relative;
    .clock-colon {
        user-select: none;
        color: $accent;
        position: relative;
        font-size: 10rem;
        top: -9px
    }
    .clock__container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        max-width: 12rem;
        .clock__label {
            padding: 6px 0;
            font-size: 10rem;
            text-align: center;
            font-family: segment, nonospace;
            color: $accent;
            background-color: $primary2;
            border-radius: 5px;
            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }
        .clock-btn {
            position: relative;
            font-size: 2rem;
            padding: 0.5rem 0;
            background-color: transparent;
            color: $accent;
            line-height: 0;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                color: $accent-dim;
            }
            &:active {
                transform: scale(1.3);
            }
        }
    }
    .clock__set-alarm {
        position: absolute;
        bottom: -1rem;
        right: 1.5rem;
        padding: 1rem 1.2rem;
        font-size: 2rem;
        border-radius: 50%;
        background-color: $accent;
        cursor: pointer;
        transition: all 0.1s;
        transform: scale(1.5);
        &:hover {
            background-color: $accent-dim;
        }
        &:active {
            transition: scale(1.7);
        }
        i {
            color: $primary;
        }
    }
}

.alarm {
    background-color: $primary;
    padding: 1rem 5rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.6);
    .alarm__label {
        font-family: segment, monospace;
        font-size: 8rem;
    }
    .clock-colon {
        position: relative;
        font-size: 8rem;
        padding: 1rem;
        top: -5px;
    }
    .alarm-btn {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: $accent;
        cursor: pointer;
        background-color: transparent;
        font-size: 2rem;
        transition: all 0.2s;
        &:hover {
            color: $accent;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $accent;
    &:active {
        background-color: $accent-dim;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .clock {
        padding: 3rem 8rem;
    }
    .app {
        padding-top: 2rem;
        .alarm__container {
            grid-template-columns: 1fr;
            width: 100%;
            max-width: 400px;
            text-align: center;
        }
    }
}